keras==2.14.0
numpy==1.26.2
pandas==2.1.3
Pillow==9.0.1
scikit-learn==1.3.2
scipy==1.11.4
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
pyyaml
h5py==3.10.0
PyYAML==5.4.1
dxcam
keyboard